content {
  background: darkblue;
  border-radius: 8px;
  grid-area: c;

}
.WrapperInfo {
  display:flex;
}
content>img {
  height: 150px;
  width: 100%;
}
.Ava {
height: 50px;
}
.MyPosts.item {
  color: darkgoldenrod;
}
  